.blocklyToolboxDiv {
  background-color: var(--bg2);
}

.blocklySvg {
  background-color: var(--bg3);
}

.blocklyMainBackground {
  stroke: none;
}

.blocklyTreeSeparator {
  border-bottom: 1px solid var(--border);
}

.blocklyScrollbarHandle {
  fill: var(--el-text-color-secondary) !important;
  opacity: var(--el-scrollbar-opacity, 0.3) !important;
}

.blocklyScrollbarHandle:hover {
  opacity: var(--el-scrollbar-hover-opacity, 0.5) !important;
}

.layout-container .layout-left{
  min-width: var(--aside-width);
}

.hljs{
  background-color: var(--bg2);
  overflow-x: unset!important;
}

.xterm{
  container-type: size;
}

.blocklyToolboxDiv{
  min-width: 140px;
}
